@font-face {
    font-family: 'MontserratMedium';
    src: url('Montserrat-Medium.ttf')format('truetype');
    /* font-weight: 900; */
}

@font-face {
    font-family: 'MontserratRegular';
    src: url('Montserrat-Regular.ttf')format('truetype');
    /* font-weight: 900; */
}